html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
  color: #2b2;
}

input:enabled {
  color: #2b2;
}

.button {
  background-color: #f6fa07; /* yellow */
  border: none;
  color: black;
  padding: 6px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}



.button {
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #e4fd05; /* Green */
  color:palevioletred;
}